#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*padding: 10px;*/
  /*text-align: center;*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.avatar {
  width: 150px;
  height: 150px;
}

.name {
  width: fit-content;
}

.russo {
  font-family: 'Russo One', sans-serif;
}

.bebas {
  font-family: 'Bebas Neue', sans-serif;
}

.black-ops {
  font-family: 'Black Ops One', sans-serif;;
}

.bg-image {
  background-size: auto;
  background-position:  center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 0;
  overflow-x: hidden;
}

.login {
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: center;
}

.submit-btn {
  --bs-btn-bg: #F5DEB3;
  --bs-btn-border-color: #F5DEB3;
  --bs-btn-hover-bg: #4682B4;
  --bs-btn-hover-border-color: #4682B4;
  --bs-btn-active-bg: #4682B4;
  --bs-btn-disabled-bg: #4682B4;
  --bs-btn-disabled-border-color: #4682B4;
  color: #000000;
}

.form {
  opacity: 80%;
}

